        
        <!-- Jumbotron -->
        <div class="jumbotron text-center">
            <h1>Editar pregunta</h1>
        </div>
        <!-- __form.ejs  -->
        <form class="form-horizontal" action="/quizes/<%= quiz.id %>?_method=put" method="POST">
            <!-- form content here -->
            <% 
            var hasError = '';
            if (errors && errors.pregunta) { 
                hasError = ' has-error has-feedback';
            } %>
            <div class="form-group <%= hasError %>">
                <!-- label and control -->
                <label for="pregunta" class="control-label col-sm-3">Pregunta:</label>
                <div class="col-sm-5">
                    <input type="text" name="pregunta" id="pregunta" class="form-control" value="<%= quiz.pregunta %>" placeholder="pregunta"/>
                    <% if (errors && errors.pregunta) { %>
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <% } %>
                </div>
            </div>
            <% 
            var hasError = '';
            if (errors && errors.respuesta) { 
                hasError = ' has-error has-feedback';
            } %>
            <div class="form-group <%= hasError %>">
                <!-- label and control -->
                <label for="respuesta" class="control-label col-sm-3">Respuesta:</label>
                <div class="col-sm-5">
                    <input type="text" name="respuesta" id="respuesta" class="form-control" value="<%= quiz.respuesta %>" placeholder="respuesta"/>
                    <% if (errors && errors.respuesta) { %>
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <% } %>
                </div>
            </div>
            <div class="form-group">
                <label for="tematica" class="control-label col-sm-3">Temática:</label>
                <div class="col-sm-5">
                    <select name="tema" id="tematica" class="form-control">
                      <option value="otro">Otro</option>
                      <option value="humanidades">Humanidades</option>
                      <option value="ocio">Ocio</option>
                      <option value="ciencia">Ciencia</option>
                      <option value="tecnologia">Tecnología</option>
                    </select>
                </div>
            </div>
            <script>
                $("select").val('<%= quiz.tema %>');
            </script>
            <div class="form-group">
                <div class="col-sm-5 col-sm-offset-3">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </form>
        
