 <!DOCTYPE html>
        <!-- Jumbotron -->
        <div class="jumbotron text-center">
            <h1>Adivina</h1>
            <br/>
            <!-- form 1 -->
            <form class="form-horizontal" action="/quizes/<%= quiz.id %>/answer" method="GET">
                <!-- form content here -->
                <div class="form-group">
                    <!-- label and control -->
                    <label for="respuesta" class="control-label col-sm-4"><%= quiz.pregunta %></label>
                    <div class="col-sm-4">
                        <input type="text" name="respuesta" id="respuesta" class="form-control" placeholder="Respuesta"/>
                    </div>
                    <div class="col-sm-4 text-left">
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Mostrar comentarios -->
        <h2>Comentarios:</h2>
        <% for (index in quiz.Comments) { 
            if( session.user || quiz.Comments[index].publicado) {
        %>
            <div class="well well-sm">
                <%= quiz.Comments[index].texto %>
                <% if( session.user && !quiz.Comments[index].publicado) { %>
                <span class="pull-right">
                    <a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish"><em>Publicar&nbsp;</em></a>
                </span>
                <% }  else if (session.user && quiz.Comments[index].publicado) { %>
                <span class="pull-right">
                    <a href="#"><span class="glyphicon glyphicon-ok"></span></a>
                </span>
                <% } %>
            </div>         
        <% } } %>
        
        <!-- botón añadir comentario -->
        <div style="padding-top: 2px;">
            <a href="/quizes/<%= quiz.id %>/comments/new">
                <button type="button" class="btn btn-primary">Nuevo comentario</button>
            </a>
        </div>